.vscode
/.vs
/Behavioral_Patterns/Observer/C#/Package/obj
/Behavioral_Patterns/Observer/C#/Simple/bin/Debug/netcoreapp2.1
/Behavioral_Patterns/Observer/C#/Simple/obj
/Behavioral_Patterns/Strategy/C#/bin/Debug/netcoreapp2.1
/Behavioral_Patterns/Strategy/C#/obj
/Creational_Patterns/AbstractFactory/C#/obj
/Creational_Patterns/Builder/C#/obj
/Creational_Patterns/FactoryMethod/C#/obj
/Creational_Patterns/ObjectPool/C#/obj/Debug/netcoreapp2.1
/Creational_Patterns/ObjectPool/C#/obj
/Creational_Patterns/Prototype/C#/obj
/Creational_Patterns/Singleton/C#/obj
/SimpleFactory/C#/obj
